{"openapi":"3.0.1","info":{"title":"Wildberries (объединённая спека)"},"paths":{"/ping":{"servers":[{"url":"https://common-api.wildberries.ru"}],"get":{"operationId":"getPing","x-readonly-method":true,"x-category":"all","tags":["Проверка подключения к WB API"],"security":[{"HeaderApiKey":[]}],"summary":"Проверка подключения","description":"Метод проверяет:\n  1. Успешно ли запрос доходит до WB API\n  2. Валидность токена авторизации и URL запроса\n  3. Совпадают ли категория токена и сервис\n\n<div class=\"description_important\">\n  Метод не предназначен для проверки доступности сервисов WB\n</div>\n\nУ каждого сервиса есть свой вариант метода в зависимости от домена:\n\n| Категория | URL запроса |\n|---------------|-----------------------|\n| Контент | `https://content-api.wildberries.ru/ping`<br>`https://content-api-sandbox.wildberries.ru/ping` |\n| Аналитика | `https://seller-analytics-api.wildberries.ru/ping` |\n| Цены и скидки | `https://discounts-prices-api.wildberries.ru/ping`<br>`https://discounts-prices-api-sandbox.wildberries.ru/ping` |\n| Маркетплейс | `https://marketplace-api.wildberries.ru/ping` |\n| Статистика | `https://statistics-api.wildberries.ru/ping`<br>`https://statistics-api-sandbox.wildberries.ru/ping` |\n| Продвижение | `https://advert-api.wildberries.ru/ping`<br>`https://advert-api-sandbox.wildberries.ru/ping` |\n| Вопросы и отзывы | `https://feedbacks-api.wildberries.ru/ping`<br>`https://feedbacks-api-sandbox.wildberries.ru/ping` |\n| Чат с покупателями | `https://buyer-chat-api.wildberries.ru/ping` |\n| Поставки | `https://supplies-api.wildberries.ru/ping` |\n| Возвраты покупателями | `https://returns-api.wildberries.ru/ping` |\n| Документы | `https://documents-api.wildberries.ru/ping` |\n| Финансы | `https://finance-api.wildberries.ru/ping` |\n| Тарифы, Новости, Получить информацию о продавце | `https://common-api.wildberries.ru/ping` |\n| Управление пользователями продавца | `https://user-management-api.wildberries.ru/ping` |\n\n<div class=\"description_limit\">\n  Максимум 3 запроса за 30 <a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">секунд</a>. Если попытаться автоматизировать использование метода, запросы будут временно заблокированы. Лимит действует отдельно для каждого варианта метода в зависимости от домена\n</div>\n","responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"TS":{"type":"string","description":"Timestamp запроса"},"Status":{"type":"string","enum":["OK"],"description":"Статус"}}},"example":{"TS":"2024-08-16T11:19:05+03:00","Status":"OK"}}}},"401":{"$ref":"#/components/responses/01_general__401"},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/api/communications/v2/news":{"servers":[{"url":"https://common-api.wildberries.ru"}],"get":{"operationId":"getV2News","x-readonly-method":true,"x-category":"commonapi","tags":["API новостей"],"security":[{"HeaderApiKey":[]}],"summary":"Получение новостей портала продавцов","description":"Метод позволяет получать новости портала продавцов. <br> Для получения успешного ответа необходимо указать\nодин из параметров `from` или `fromID`. <br> За один запрос можно получить не более 100 новостей.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |\n| Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |\n| Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |\n| Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |\n</div>\n","parameters":[{"in":"query","name":"from","required":false,"schema":{"type":"string","format":"date","example":"2025-02-06"},"description":"Дата, от которой необходимо выдать новости"},{"in":"query","name":"fromID","required":false,"schema":{"type":"integer","format":"uint64"},"description":"ID новости, начиная с которой — включая её — нужно получить список новостей","example":7369}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"Новости","items":{"type":"object","properties":{"content":{"type":"string","description":"Текст новости","format":"plaintext"},"date":{"format":"date-time","type":"string","description":"Дата и время публикации новости"},"header":{"type":"string","description":"Заголовок новости"},"id":{"type":"integer","description":"ID новости"},"types":{"type":"array","description":"Теги новости","items":{"type":"object","properties":{"id":{"type":"integer","description":"ID тега"},"name":{"type":"string","description":"Название тега"}}}}}}}}},"example":{"data":[{"content":"Теперь в кампаниях ВБ.Медиа вы можете размещать баннеры для пользователей, которые взаимодействовали\nс товарами из определённой категории: покупали, искали, добавляли в корзину и избранное. Также можно\nвыбрать период, за который хотите учитывать эти действия.Например, вы продаёте обувь. Рекламу можно\nпоказать людям, которые добавляли в корзину или избранное товары из этой категории за последние 14\nдней. Возможно, пользователи, которые попадают под этот критерий, уже совершили покупку. Поэтому вы\nможете уточнить настройки показа: добавить параметр «Не покупал товар из категории „Обувь“ в последние\n14 дней». Так вероятность того, что ваш баннер приведёт к покупке, будет выше.Чтобы запустить рекламу,\nсоздайте в кабинете ВБ.Медиа кампанию «По показам» и на шаге 4 включите «Поведенческие параметры».\nЭти параметры можно комбинировать с таргетированием по предполагаемым интересам, полу, возрасту и\nрегиону.Подробнее о том, как настроить таргетинг, — в инструкции «По показам».Запустить рекламу на\nWildberries\n","date":"2025-02-05T14:10:35+03:00","header":"Новые настройки кампаний в ВБ.Медиа: таргетируйте рекламу в зависимости от того, как аудитория\nиспользует сервисы Wildberries\n","id":7369,"types":[{"id":4,"name":"Маркетинг"}]},{"content":"Добавили получение отчётов по текстам поисковых запросов в формате CSV. В описания методов «Создать\nотчёт» и «Получить отчёт» добавили описания и примеры моделей: • запросов — SearchReportTextReq, •\nуспешных ответов (статус-код 200) — SearchReportTextRes.В ответ метода «Поисковые запросы по товару»\nдобавили 8 полей и структуры price и medianPosition. Узнать больше можно в Журнале изменений.Эти методы\nдоступны только с подпиской «Джем»\n","date":"2025-02-06T18:14:58+03:00","header":"Изменения в API «Аналитики и данных»","id":7373,"types":[{"id":8,"name":"API"},{"id":41,"name":"Аналитика продавца"}]}]}}}},"400":{"description":"Неправильный запрос"},"401":{"$ref":"#/components/responses/01_general__401"},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/api/v1/seller-info":{"servers":[{"url":"https://common-api.wildberries.ru"}],"get":{"operationId":"getV1SellerInfo","x-readonly-method":true,"x-category":"commonapi","tags":["Информация о продавце"],"security":[{"HeaderApiKey":[]}],"summary":"Получить информацию о продавце","description":"<div class=\"description_auth\">\n  Информацию о продавце можно получить с токеном любой <a href=\"/openapi/api-information#tag/authorization/Kategorii-tokenov\">категории</a>\n</div>\n\nМетод позволяет получать наименование продавца и ID его профиля.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |\n| Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |\n| Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |\n| Базовый | 24 ч | 1 запрос | 24 ч | 1 запрос |\n</div>\n","responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Наименование продавца"},"sid":{"format":"UUID","type":"string","description":"Уникальный ID продавца на Wildberries, [находящийся в публичном поле токена](./api-information#tag/authorization/Kak-ustroen-token)"},"tin":{"type":"string","description":"ИНН"},"tradeMark":{"type":"string","description":"Торговое наименование продавца"}}},"example":{"name":"ИП Кружинин В. Р.","sid":"e8923014-e233-47q8-898e-3cc86d67ea61","tin":"1234567890","tradeMark":"Flax Store"}}}},"401":{"$ref":"#/components/responses/01_general__401"},"402":{"$ref":"#/components/responses/01_general__402"},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/api/common/v1/rating":{"servers":[{"url":"https://feedbacks-api.wildberries.ru"}],"get":{"operationId":"getV1Rating","x-readonly-method":true,"x-category":"questionsandfeedback","x-token-types":["service"],"tags":["Информация о продавце"],"security":[{"HeaderApiKey":[]}],"summary":"Получить рейтинг продавца","description":"<div class=\"description_auth\">\n  Для доступа к методу используйте <a href=\"/openapi/api-information#tag/authorization/Kak-sozdat-personalnyj-bazovyj-ili-testovyj-token\">токен</a> для категории <strong>Вопросы и отзывы</strong>\n</div>\n\n\n<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API\">доступен</a> по\n        <strong>Сервисному</strong> токену\n</div>\n\nМетод возвращает пользовательский рейтинг продавца и количество отзывов.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 1 запрос | 1 мин | 1 запрос |\n</div>\n","responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__SupplierRatingModel"}}}},"401":{"$ref":"#/components/responses/01_general__401"},"402":{"$ref":"#/components/responses/01_general__402"},"403":{"$ref":"#/components/responses/01_general__403"},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/api/common/v1/subscriptions":{"servers":[{"url":"https://common-api.wildberries.ru"}],"get":{"x-readonly-method":true,"x-category":"commonapi","operationId":"getV1Subscriptions","x-token-types":["service"],"tags":["Информация о продавце"],"security":[{"HeaderApiKey":[]}],"summary":"Получить информацию о подписке Джем","description":"<div class=\"description_auth\">\n  Информацию о подписке Джем можно получить с токеном любой <a href=\"/openapi/api-information#tag/authorization/Kategorii-tokenov\">категории</a>\n</div>\n\n\n<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API\">доступен</a> по\n        <strong>Сервисному</strong> токену\n</div>\n\nМетод возвращает информацию о подписке [Джем](https://seller.wildberries.ru/monetization/jam):\n  - Если продавец никогда не подключал подписку Джем, возвращается пустой ответ `200`.\n  - Если продавец активировал и никогда не отменял подписку, возвращается:\n    - дата активации подписки `since`\n    - дата окончания текущего оплаченного периода `till`\n  - Если подписка закончилась или была отменена, но продавец подключил её повторно, возвращается:\n    - дата первой активации подписки `since`\n    - дата окончания текущего оплаченного периода `till`\n  - Если подписка неактивна, возвращается:\n    - дата первой активации подписки `since`\n    - дата окончания последнего оплаченного периода `till`\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 1 запрос | 1 мин | 10 запросов |\n</div>\n","responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__SubscriptionsJamInfo"}}}},"401":{"$ref":"#/components/responses/01_general__401"},"402":{"$ref":"#/components/responses/01_general__402"},"403":{"$ref":"#/components/responses/01_general__403"},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/api/common/v1/tariff-constructor/options":{"servers":[{"url":"https://common-api.wildberries.ru"}],"get":{"x-readonly-method":true,"x-category":"commonapi","operationId":"getV1TariffConstructorOptions","x-token-types":["service"],"tags":["Информация о продавце"],"security":[{"HeaderApiKey":[]}],"summary":"Получить информацию об опциях Конструктора тарифов","description":"<div class=\"description_auth\">\n  Информацию об опциях Конструктора тарифов можно получить с токеном любой <a href=\"/openapi/api-information#tag/authorization/Kategorii-tokenov\">категории</a>\n</div>\n\n\n<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API\">доступен</a> по\n        <strong>Сервисному</strong> токену\n</div>\n\nМетод возвращает информацию обо всех опциях и пакетах опций, которые продавец подключил в [Конструкторе тарифов](https://seller.wildberries.ru/tariff-constructor).<br><br>\n\nОпции, входящие в подключённые пакеты, возвращаются в массиве `packages`. Опции, подключённые вне пакетов, возвращаются в массиве `options`.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 1 запрос | 1 мин | 10 запросов |\n</div>\n","parameters":[{"name":"locale","in":"query","schema":{"type":"string","default":"ru","example":"ru","enum":["ru","en"]},"description":"Язык полей ответа:\n  - `ru` — русский\n  - `en` — английский\n"}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__PlanBuilderOptionsInfo"},"examples":{"PlanBuilderSuccess":{"$ref":"#/components/examples/01_general__PlanBuilderSuccess"}}}}},"400":{"description":"Неправильный запрос","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/01_general__PlanBuilderErrors"},"examples":{"PlanBuilder400":{"$ref":"#/components/examples/01_general__PlanBuilder400"}}}}},"401":{"$ref":"#/components/responses/01_general__401"},"403":{"$ref":"#/components/responses/01_general__403"},"404":{"description":"Не найдено","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/01_general__PlanBuilderErrors"},"examples":{"PlanBuilder404":{"$ref":"#/components/examples/01_general__PlanBuilder404"}}}}},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/api/v1/invite":{"servers":[{"url":"https://user-management-api.wildberries.ru"}],"post":{"operationId":"postV1Invite","x-readonly-method":false,"x-category":"usermanagement","x-token-types":["personal"],"tags":["Управление пользователями продавца"],"security":[{"HeaderApiKey":[]}],"summary":"Создать приглашение для нового пользователя","description":"<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API\">доступен</a> по\n        <strong>Персональному</strong> токену\n</div>\n\nМетод создаёт приглашение для нового пользователя с настройкой доступов к разделам профиля продавца.<br>\nКак выдаются права доступа:\n- Если `access` пустой (`[]`) или не указан — по умолчанию выдаются все доступы, кроме доступов к витрине (`showcase`) и **Джем** (`changeJam`)\n- Если в `access` указана часть разделов профиля, то кроме тех доступов, что указаны в запросе, также выдаются все доступы по умолчанию\n- Если в `access` перечислены все возможные разделы, доступы будут выданы согласно запросу, без доступов по умолчанию\n- Если в `access` дважды указан один и тот же раздел (`code`):\n  - при разных значениях `disabled` (`true` и `false`) доступ не будет выдан\n  - при одинаковых значениях `\"disabled\": true` доступ не будет выдан\n  - при одинаковых значениях `\"disabled\": false` доступ будет выдан\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 5 запросов |\n</div>\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__createInviteRequest"}}}},"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__createInviteResponse"}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__errorResponse"}}}},"401":{"$ref":"#/components/responses/01_general__401"},"403":{"$ref":"#/components/responses/01_general__403"},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/api/v1/users":{"servers":[{"url":"https://user-management-api.wildberries.ru"}],"get":{"operationId":"getV1Users","x-readonly-method":true,"x-category":"usermanagement","x-token-types":["personal"],"tags":["Управление пользователями продавца"],"security":[{"HeaderApiKey":[]}],"summary":"Получить список активных или приглашённых пользователей продавца","description":"<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API\">доступен</a> по\n        <strong>Персональному</strong> токену\n</div>\n\nМетод возвращает список активных или приглашённых пользователей профиля продавца.<br><br>\nЧтобы выбрать список, укажите значение параметра `isInviteOnly`:\n  - `isInviteOnly=true` — список приглашённых пользователей, которые ещё не активировали доступ\n  - `isInviteOnly=false` или не указан — список активных пользователей\n\nПо каждому пользователю можно получить:\n  - роль пользователя\n  - разделы, к которым есть доступы\n  - статус приглашения\n\nСписок приглашённых пользователей в ответе всегда отсортирован по дате создания: от новых до старых.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 5 запросов |\n</div>\n","parameters":[{"in":"query","name":"limit","schema":{"type":"integer","format":"int64","maximum":100,"default":100},"description":"Количество активных или приглашённых пользователей в ответе"},{"in":"query","name":"offset","schema":{"type":"integer","format":"int64","default":0},"description":"Сколько элементов пропустить. Например, для значения 10 ответ начнется с 11 элемента\n"},{"in":"query","name":"isInviteOnly","schema":{"type":"boolean","default":false},"description":"- `true` — список приглашённых пользователей, которые ещё не активировали доступ\n- `false` или не указан — список активных пользователей профиля продавца\n"}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__getUsersResponse"},"examples":{"invitesOnly":{"summary":"isInviteOnly=true","description":"Список приглашённых пользователей","value":{"total":2,"countInResponse":2,"users":[{"id":0,"role":"","position":"Аналитик","phone":"79998888888","email":"","isOwner":false,"firstName":"","secondName":"","patronymic":"","goodsReturn":false,"isInvitee":true,"inviteeInfo":{"phoneNumber":"79998888888","position":"Аналитик","inviteUuid":"00000000-0000-4000-8000-000000000001","expiredAt":"2025-12-01T00:00:00Z","isActive":true},"access":[{"code":"supply","disabled":true},{"code":"changeJam","disabled":true},{"code":"showcase","disabled":false},{"code":"suppliersDocuments","disabled":false},{"code":"discountPrice","disabled":true},{"code":"feedbacks","disabled":false},{"code":"questions","disabled":false},{"code":"brands","disabled":true},{"code":"pointsForReviews","disabled":false},{"code":"pinFeedbacks","disabled":false},{"code":"finance","disabled":true},{"code":"balance","disabled":false},{"code":"oldAnalyticsReports","disabled":false},{"code":"marketplace","disabled":false},{"code":"brandsFlow","disabled":false},{"code":"copyrightComplaints","disabled":false},{"code":"pretrialClaims","disabled":false},{"code":"sellersChat","disabled":false},{"code":"brandzone","disabled":false},{"code":"brandzoneSubscribe","disabled":false}]},{"id":0,"role":"","position":"","phone":"7999XXXX102","email":"","isOwner":false,"firstName":"","secondName":"","patronymic":"","goodsReturn":false,"isInvitee":true,"inviteeInfo":{"phoneNumber":"79996666666","position":"Аналитик","inviteUuid":"00000000-0000-4000-8000-000000000002","expiredAt":"2025-12-10T00:00:00Z","isActive":false},"access":[{"code":"supply","disabled":true},{"code":"changeJam","disabled":true},{"code":"showcase","disabled":false},{"code":"suppliersDocuments","disabled":false},{"code":"discountPrice","disabled":true},{"code":"feedbacks","disabled":false},{"code":"questions","disabled":false},{"code":"brands","disabled":true},{"code":"pointsForReviews","disabled":false},{"code":"pinFeedbacks","disabled":false},{"code":"finance","disabled":true},{"code":"balance","disabled":false},{"code":"oldAnalyticsReports","disabled":false},{"code":"marketplace","disabled":false},{"code":"brandsFlow","disabled":false},{"code":"copyrightComplaints","disabled":false},{"code":"pretrialClaims","disabled":false},{"code":"sellersChat","disabled":false},{"code":"brandzone","disabled":false},{"code":"brandzoneSubscribe","disabled":false}]}]}},"usersOnly":{"summary":"isInviteOnly=false","description":"Список активных пользователей","value":{"total":2,"countInResponse":2,"users":[{"id":1001,"role":"user","position":"Аналитик","phone":"79999999999","email":"user1@example.com","isOwner":true,"firstName":"Иван","secondName":"Иванов","patronymic":"","goodsReturn":true,"isInvitee":false,"inviteeInfo":null,"access":[{"code":"supply","disabled":true},{"code":"changeJam","disabled":true},{"code":"showcase","disabled":false},{"code":"suppliersDocuments","disabled":false},{"code":"discountPrice","disabled":true},{"code":"feedbacks","disabled":false},{"code":"questions","disabled":false},{"code":"brands","disabled":true},{"code":"pointsForReviews","disabled":false},{"code":"pinFeedbacks","disabled":false},{"code":"finance","disabled":true},{"code":"balance","disabled":false},{"code":"oldAnalyticsReports","disabled":false},{"code":"marketplace","disabled":false},{"code":"brandsFlow","disabled":false},{"code":"copyrightComplaints","disabled":false},{"code":"pretrialClaims","disabled":false},{"code":"sellersChat","disabled":false},{"code":"brandzone","disabled":false},{"code":"brandzoneSubscribe","disabled":false}]},{"id":1002,"role":"user","position":"Менеджер","phone":"79997777777","email":"user2@example.com","isOwner":false,"firstName":"Владимир","secondName":"Смирнов","patronymic":"","goodsReturn":true,"isInvitee":true,"inviteeInfo":{"phoneNumber":"79997777777","position":"Менеджер","inviteUuid":"00000000-0000-4000-8000-000000000001","expiredAt":"2025-12-01T00:00:00Z","isActive":true},"access":[{"code":"supply","disabled":true},{"code":"changeJam","disabled":true},{"code":"showcase","disabled":false},{"code":"suppliersDocuments","disabled":false},{"code":"discountPrice","disabled":true},{"code":"feedbacks","disabled":false},{"code":"questions","disabled":false},{"code":"brands","disabled":true},{"code":"pointsForReviews","disabled":false},{"code":"pinFeedbacks","disabled":false},{"code":"finance","disabled":true},{"code":"balance","disabled":false},{"code":"oldAnalyticsReports","disabled":false},{"code":"marketplace","disabled":false},{"code":"brandsFlow","disabled":false},{"code":"copyrightComplaints","disabled":false},{"code":"pretrialClaims","disabled":false},{"code":"sellersChat","disabled":false},{"code":"brandzone","disabled":false},{"code":"brandzoneSubscribe","disabled":false}]}]}}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__errorResponse"}}}},"401":{"$ref":"#/components/responses/01_general__401"},"403":{"$ref":"#/components/responses/01_general__403"},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/api/v1/users/access":{"servers":[{"url":"https://user-management-api.wildberries.ru"}],"put":{"operationId":"putV1UsersAccess","x-readonly-method":false,"x-category":"usermanagement","x-token-types":["personal"],"tags":["Управление пользователями продавца"],"security":[{"HeaderApiKey":[]}],"summary":"Изменить права доступа пользователей","description":"<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API\">доступен</a> по\n        <strong>Персональному</strong> токену\n</div>\n\nМетод меняет права доступа одному или нескольким пользователям.<br>\n<br>\nОбновляются только права доступа, переданные в параметрах запроса. Остальные поля остаются без изменений.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 5 запросов |\n</div>\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__updateUserAccessRequest"}}}},"responses":{"200":{"description":"Успешно"},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__errorResponse"}}}},"401":{"$ref":"#/components/responses/01_general__401"},"403":{"$ref":"#/components/responses/01_general__403"},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/api/v1/user":{"servers":[{"url":"https://user-management-api.wildberries.ru"}],"delete":{"operationId":"deleteV1User","x-readonly-method":false,"x-category":"usermanagement","x-token-types":["personal"],"tags":["Управление пользователями продавца"],"security":[{"HeaderApiKey":[]}],"summary":"Удалить пользователя","description":"<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API\">доступен</a> по\n        <strong>Персональному</strong> токену\n</div>\n\nМетод удаляет пользователя из [списка сотрудников продавца](/openapi/api-information#tag/sellerUserManagement/operation/getV1Users). Этому пользователю будет закрыт доступ в профиль продавца.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n</div>\n","parameters":[{"in":"query","name":"deletedUserID","required":true,"schema":{"type":"integer","format":"int64"},"description":"ID пользователя, которому будет закрыт доступ"}],"responses":{"200":{"description":"Успешно"},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/01_general__errorResponse"}}}},"401":{"$ref":"#/components/responses/01_general__401"},"403":{"$ref":"#/components/responses/01_general__403"},"429":{"$ref":"#/components/responses/01_general__429"}}}},"/content/v2/object/parent/all":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Родительские категории товаров","description":"Метод возвращает названия и ID всех родительских категорий для [создания карточек товаров](/openapi/work-with-products#tag/listingItems): например, `Электроника`, `Бытовая химия`, `Рукоделие`.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 100 запросов | 600 мс | 5 запросов |\n\nИсключение — методы:\n\n<ul>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post\">создания карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post\">создания карточек товаров с присоединением</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post\">редактирования карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1recover/post\">восстановления карточек товаров из корзины</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsList\">получения списка рекомендаций в карточках товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsSet\">установки рекомендаций для товаров</a></li>\n</ul>\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"locale","in":"query","description":"Язык поля ответа `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n","schema":{"type":"string","example":"en"}}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"items":{"type":"object","properties":{"name":{"description":"Название категории","type":"string","example":"Электроника"},"id":{"description":"ID родительской категории","type":"integer","example":479},"isVisible":{"description":"Виден на сайте","type":"boolean","example":true}}}},"error":{"description":"Флаг наличия ошибки","type":"boolean","example":false},"errorText":{"description":"Описание ошибки","type":"string","example":""},"additionalErrors":{"description":"Дополнительные ошибки","nullable":true,"type":"string","example":""}}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}}}},"401":{"$ref":"#/components/responses/02_items__401"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/object/all":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Список предметов","description":"Метод возвращает список названий [родительских категорий предметов](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1parent~1all/get) и их предметов с ID. Например, у категории `Игрушки` будут предметы `Калейдоскопы`, `Куклы`, `Мячики`.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 100 запросов | 600 мс | 5 запросов |\n\nИсключение — методы:\n\n<ul>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post\">создания карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post\">создания карточек товаров с присоединением</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post\">редактирования карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1recover/post\">восстановления карточек товаров из корзины</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsList\">получения списка рекомендаций в карточках товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsSet\">установки рекомендаций для товаров</a></li>\n</ul>\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"locale","in":"query","schema":{"type":"string","example":"en"},"description":"Язык полей ответа:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n"},{"name":"name","in":"query","schema":{"type":"string","example":"Носки"},"description":"Поиск по названию предмета (Носки), поиск работает по подстроке, искать можно на любом из поддерживаемых языков"},{"name":"limit","in":"query","schema":{"type":"integer","example":1000,"default":30},"description":"Количество предметов, максимум 1000"},{"name":"offset","in":"query","schema":{"type":"integer","example":5000,"default":0},"description":"Сколько элементов пропустить. Например, для значения `10` ответ начнется с 11 элемента"},{"name":"parentID","in":"query","schema":{"type":"integer","example":1000},"description":"ID родительской категории предмета"}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"Предметы","items":{"type":"object","properties":{"subjectID":{"type":"integer","description":"ID предмета"},"parentID":{"type":"integer","description":"ID родительской категории"},"subjectName":{"type":"string","description":"Название предмета"},"parentName":{"type":"string","description":"Название родительской категории"}}}},"error":{"type":"boolean","description":"Флаг наличия ошибки"},"errorText":{"type":"string","description":"Текст ошибки"},"additionalErrors":{"nullable":true,"description":"Дополнительные ошибки","type":"string"}}},"example":{"data":[{"subjectID":2560,"parentID":479,"subjectName":"3D очки","parentName":"Электроника"},{"subjectID":1152,"parentID":858,"subjectName":"3D-принтеры","parentName":"Оргтехника"}],"error":false,"errorText":"","additionalErrors":null}}}},"401":{"$ref":"#/components/responses/02_items__401"},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/object/charcs/{subjectId}":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Характеристики предмета","description":"Метод возвращает параметры характеристик предмета: названия, типы данных, единицы измерения и так далее. В запросе необходимо указать ID [предмета](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1all/get).\n\n<div class=\"description_important\">\n  Для получения значений характеристик <a href=\"/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1colors/get\">Цвет</a>, <a href=\"/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1kinds/get\">Пол</a>, <a href=\"/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1countries/get\">Страна производства</a>, <a href=\"/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1seasons/get\">Сезон</a>, <a href=\"/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1vat/get\">Ставка НДС</a> и <a href=\"/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1tnved/get\">ТНВЭД-код</a> используйте отдельные методы\n</div>\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 100 запросов | 600 мс | 5 запросов |\n\nИсключение — методы:\n\n<ul>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post\">создания карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post\">создания карточек товаров с присоединением</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post\">редактирования карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1recover/post\">восстановления карточек товаров из корзины</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsList\">получения списка рекомендаций в карточках товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsSet\">установки рекомендаций для товаров</a></li>\n</ul>\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"subjectId","in":"path","required":true,"description":"ID предмета","schema":{"type":"integer","example":105}},{"name":"locale","in":"query","description":"Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n","schema":{"type":"string","example":"en"}}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"Данные","items":{"type":"object","properties":{"charcID":{"type":"integer","description":"ID характеристики"},"subjectName":{"type":"string","description":"Название предмета"},"subjectID":{"type":"integer","description":"ID предмета"},"name":{"type":"string","description":"Название характеристики"},"required":{"type":"boolean","description":"- `true` — характеристику необходимо обязательно указать в карточке товара\n- `false` — характеристику необязательно указывать\n"},"unitName":{"type":"string","description":"Единица измерения"},"maxCount":{"type":"integer","description":"Максимальное количество значений, которое можно присвоить характеристике при [создании](./work-with-products#tag/listingItems) или [редактировании](./work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post) карточек товаров.\n<br>\nИспользуется только для характеристик с `\"charcType\":1` — массив строк.\n<br>\nХарактеристикам с `\"charcType\":4` — число, можно присвоить только одно значение.\n<br><br>\nЕсли `\"maxCount\":0`, количество значений не ограничено\n"},"popular":{"description":"Характеристика популярна у пользователей (true - да, false - нет)","type":"boolean"},"charcType":{"type":"integer","description":"Тип данных характеристики, который необходимо использовать при [создании](./work-with-products#tag/listingItems) или [редактировании](./work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post) карточек товаров:\n  -  `1` — массив строк\n  -  `4` — число (целое либо с десятичной дробью)\n  -  `0` — характеристика не используется\n"},"hasFilter":{"type":"boolean","description":"Ключевая характеристика. Является ли характеристика значимой для покупателей:\n  - `true` — да\n  - `false` — нет\n"},"isVariable":{"type":"boolean","description":"Признак [меняющейся характеристики](/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov). Значение размечает характеристики, по которым варианты отличаются друг от друга:\n  -  `true` — варианты товара отличаются по этой характеристике\n  -  `false` — варианты товара не отличаются по этой характеристике\n"},"existNamedField":{"type":"boolean","description":"Как передать характеристику в запросах на [cоздание](./work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post), [создание с присоединением](./work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post) и [редактирование](./work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post) карточек товара:\n  -  `true` — в соответствующем параметре запроса\n  -  `false` — внутри массива `characteristics`\n"}}}},"error":{"type":"boolean","description":"Флаг наличия ошибки"},"errorText":{"type":"string","description":"Текст ошибки"},"additionalErrors":{"type":"string","description":"Дополнительные ошибки","nullable":true}},"example":{"data":[{"charcID":54337,"subjectName":"Кроссовки","subjectID":105,"name":"Размер","required":false,"unitName":"см","maxCount":0,"popular":false,"charcType":4,"hasFilter":true,"isVariable":true,"existNamedField":true}],"error":false,"errorText":"","additionalErrors":null}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}}}},"401":{"$ref":"#/components/responses/02_items__401"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/directory/colors":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Цвет","description":"Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Цвет`.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для методов <strong>Характеристик</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый с секретом | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"locale","in":"query","description":"Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n","schema":{"type":"string","example":"en"}}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"items":{"type":"object","properties":{"name":{"description":"Наименование цвета","type":"string","example":"персиковый мелок"},"parentName":{"description":"Наименование родительского цвета","type":"string","example":"оранжевый"}}}},"error":{"description":"Флаг ошибки","type":"boolean","example":false},"errorText":{"description":"Описание ошибки","type":"string","example":""},"additionalErrors":{"description":"Дополнительные ошибки","nullable":true,"type":"string","example":""}}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}}}},"401":{"$ref":"#/components/responses/02_items__401"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/directory/kinds":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Пол","description":"Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Пол`.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для методов <strong>Характеристик</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый с секретом | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"locale","in":"query","description":"Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n","schema":{"type":"string","example":"en"}}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Массив значений для хар-ки Пол","type":"array","items":{"type":"string","example":"Мужской"}},"error":{"description":"Флаг ошибки","type":"boolean","example":false},"errorText":{"description":"Описание ошибки","type":"string","example":""},"additionalErrors":{"description":"Дополнительные ошибки","nullable":true,"type":"string","example":""}}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}}}},"401":{"$ref":"#/components/responses/02_items__401"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/directory/countries":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Страна производства","description":"Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Страна производства`.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 100 запросов | 600 мс | 5 запросов |\n\nИсключение — методы:\n\n<ul>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post\">создания карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post\">создания карточек товаров с присоединением</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post\">редактирования карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1recover/post\">восстановления карточек товаров из корзины</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsList\">получения списка рекомендаций в карточках товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsSet\">установки рекомендаций для товаров</a></li>\n</ul>\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"locale","in":"query","description":"Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n","schema":{"type":"string","example":"en"}}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"items":{"type":"object","properties":{"id":{"description":"ID страны","type":"integer","example":15000170},"name":{"description":"Значение характеристики Страны","type":"string","example":"Китай"},"fullName":{"description":"Полное название страны","type":"string","example":"Китайская Народная Республика"}}}},"error":{"description":"Флаг ошибки","type":"boolean","example":false},"errorText":{"description":"Описание ошибки","type":"string","example":""},"additionalErrors":{"description":"Дополнительные ошибки","nullable":true,"type":"string","example":""}}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}}}},"401":{"$ref":"#/components/responses/02_items__401"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/directory/seasons":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Сезон","description":"Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Сезон`.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для методов <strong>Характеристик</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый с секретом | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"locale","in":"query","description":"Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n","schema":{"type":"string","example":"en"}}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Массив значений для хар-ки Сезон","type":"array","items":{"type":"string","example":"демисезон"}},"error":{"description":"Флаг ошибки","type":"boolean","example":false},"errorText":{"description":"Описание ошибки","type":"string","example":""},"additionalErrors":{"description":"Дополнительные ошибки","nullable":true,"type":"string","example":""}}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}}}},"401":{"$ref":"#/components/responses/02_items__401"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/directory/vat":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Ставка НДС","description":"Метод возвращает возможные значения [характеристики](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) предмета `Ставка НДС`.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для методов <strong>Характеристик</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый с секретом | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"locale","in":"query","description":"Язык полей ответа `subjectName` и `name`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n","schema":{"type":"string","example":"ru"}}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"error":{"type":"boolean","description":"Флаг наличия ошибки"},"errorText":{"type":"string","description":"Текст ошибки"},"additionalErrors":{"nullable":true,"type":"string","description":"Дополнительные ошибки"}}},"example":{"data":["0","10","20","Без НДС","13"],"error":false,"errorText":"","additionalErrors":null}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}}}},"401":{"$ref":"#/components/responses/02_items__401"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/directory/tnved":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"ТНВЭД-код","description":"Метод возвращает список ТНВЭД-кодов по ID [предмета](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1all/get) и фрагменту ТНВЭД-кода.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 100 запросов | 600 мс | 5 запросов |\n\nИсключение — методы:\n\n<ul>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post\">создания карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post\">создания карточек товаров с присоединением</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post\">редактирования карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1recover/post\">восстановления карточек товаров из корзины</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsList\">получения списка рекомендаций в карточках товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsSet\">установки рекомендаций для товаров</a></li>\n</ul>\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"subjectID","in":"query","required":true,"description":"ID предмета","schema":{"type":"integer","example":105}},{"name":"search","in":"query","description":"Поиск по ТНВЭД-коду. Работает только в паре с `subjectID`","schema":{"type":"integer","example":6106903000}},{"name":"locale","in":"query","description":"Язык полей ответа:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n","schema":{"type":"string","example":"en"}}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Данные","type":"array","items":{"type":"object","properties":{"tnved":{"type":"string","description":"ТНВЭД-код"},"isKiz":{"type":"boolean","description":"- `true` — код маркировки [Честного знака](https://честныйзнак.рф/) требуется\n- `false` — код маркировки [Честного знака](https://честныйзнак.рф/) не требуется\n"}}}},"error":{"type":"boolean","description":"Флаг наличия ошибки","example":false},"errorText":{"type":"string","description":"Текст ошибки"},"additionalErrors":{"nullable":true,"type":"string","description":"Дополнительные ошибки"}}},"example":{"data":[{"tnved":"6106903000","isKiz":true}],"error":false,"errorText":"","additionalErrors":null}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}}}},"401":{"$ref":"#/components/responses/02_items__401"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/api/content/v1/brands":{"servers":[{"url":"https://content-api.wildberries.ru"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Бренды","description":"Метод возвращает список брендов по ID предмета.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |\n| Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |\n| Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |\n| Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |\n</div>\n","tags":["Категории, предметы и характеристики"],"parameters":[{"name":"subjectId","in":"query","schema":{"type":"integer","example":1234},"description":"ID предмета","required":true},{"name":"next","in":"query","schema":{"type":"integer","example":1234},"description":"Параметр пагинации. Используйте значение `next` из ответа, чтобы получить следующий пакет данных"}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__BrandsResponse"}}}},"400":{"description":"Неправильный запрос","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/02_items__BrandsResponseError"},"examples":{"BrandsResponseBadRequest1":{"$ref":"#/components/examples/02_items__BrandsResponseBadRequest1"},"BrandsResponseBadRequest2":{"$ref":"#/components/examples/02_items__BrandsResponseBadRequest2"}}}}},"401":{"$ref":"#/components/responses/02_items__401"},"404":{"description":"Не найдено","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/02_items__BrandsResponseError"},"examples":{"BrandsResponseNotFound":{"$ref":"#/components/examples/02_items__BrandsResponseNotFound"}}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/tags":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"get":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Список ярлыков","description":"Метод возвращает список и характеристики всех ярлыков продавца для группировки и фильтрации товаров.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>Ярлыков</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый с секретом | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Ярлыки"],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"properties":{"id":{"description":"Числовой ID ярлыка","type":"integer"},"color":{"description":"Цвет ярлыка","type":"string"},"name":{"description":"Имя ярлыка","type":"string"}}},"error":{"description":"Флаг ошибки","type":"boolean","example":false},"errorText":{"description":"Описание ошибки","type":"string","example":""},"additionalErrors":{"description":"Дополнительные ошибки","nullable":true,"type":"string","example":""}}},"example":{"data":[{"id":1,"color":"D1CFD7","name":"Sale"}],"error":false,"errorText":"","additionalErrors":""}}}},"401":{"$ref":"#/components/responses/02_items__401"},"402":{"$ref":"#/components/responses/02_items__402"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/tag":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"post":{"x-readonly-method":false,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Создание ярлыка","description":"Метод добавляет один ярлык продавца. Можно создать максимум 15 ярлыков для одного продавца. Максимальная длина ярлыка — 15 символов.\n<br>Созданный ярлык можно получить в общем [списке](/openapi/work-with-products#tag/labels/paths/~1content~1v2~1tags/get).\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>Ярлыков</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый с секретом | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Ярлыки"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"color":{"description":"Цвет ярлыка.\n\nДоступные цвета:\n  - `D1CFD7` — серый\n  - `FEE0E0` — красный\n  - `ECDAFF` — фиолетовый\n  - `E4EAFF` — синий\n  - `DEF1DD` — зеленый\n  - `FFECC7` — желтый\n","type":"string","example":"D1CFD7"},"name":{"description":"Имя ярлыка","type":"string","example":"Sale"}}}}}},"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseContentError"}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"},"examples":{"responseBodyContentError400":{"$ref":"#/components/examples/02_items__responseBodyContentError400"},"responseBody400LenName":{"$ref":"#/components/examples/02_items__responseBody400LenName"},"responseBodyLimitLabel":{"$ref":"#/components/examples/02_items__responseBodyLimitLabel"},"responseBodyNameNotExist":{"$ref":"#/components/examples/02_items__responseBodyNameNotExist"}}}}},"401":{"$ref":"#/components/responses/02_items__401"},"402":{"$ref":"#/components/responses/02_items__402"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/tag/{id}":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"patch":{"x-readonly-method":false,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Изменение ярлыка","description":"Метод заменяет данные ярлыка: имя и цвет.\n<br>Новые данные можно получить в общем [списке](/openapi/work-with-products#tag/labels/paths/~1content~1v2~1tags/get).\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>Ярлыков</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый с секретом | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Ярлыки"],"parameters":[{"name":"id","in":"path","schema":{"type":"integer","example":1},"description":"Числовой ID ярлыка","required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"color":{"description":"Цвет ярлыка","type":"string","example":"D1CFD7"},"name":{"description":"Имя ярлыка","type":"string","example":"Sale"}}}}}},"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseContentError"},"examples":{"responseNotFound200":{"$ref":"#/components/examples/02_items__responseNotFound200"}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"},"examples":{"responseBodyContentError400":{"$ref":"#/components/examples/02_items__responseBodyContentError400"},"responseBody400LenName":{"$ref":"#/components/examples/02_items__responseBody400LenName"}}}}},"401":{"$ref":"#/components/responses/02_items__401"},"402":{"$ref":"#/components/responses/02_items__402"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}},"delete":{"x-readonly-method":false,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Удаление ярлыка","description":"Метод удаляет ярлык из [списка ярлыков](/openapi/work-with-products#tag/labels/paths/~1content~1v2~1tags/get) продавца.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>Ярлыков</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый с секретом | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Ярлыки"],"parameters":[{"name":"id","in":"path","schema":{"type":"integer","example":1},"description":"Числовой ID ярлыка","required":true}],"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseContentError"},"examples":{"responseNotFound200Del":{"$ref":"#/components/examples/02_items__responseNotFound200Del"}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"},"examples":{"responseBodyContentError400":{"$ref":"#/components/examples/02_items__responseBodyContentError400"},"responseBodyLabelNotExist":{"$ref":"#/components/examples/02_items__responseBodyLabelNotExist"}}}}},"401":{"$ref":"#/components/responses/02_items__401"},"402":{"$ref":"#/components/responses/02_items__402"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/tag/nomenclature/link":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"post":{"x-readonly-method":false,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Управление ярлыками в карточке товара","description":"Метод добавляет или снимает ярлык с карточки товара. К карточке можно добавить максимум 15 ярлыков.<br>\nПри удалении ярлыка из карточки товара он не удаляется из [списка ярлыков](/openapi/work-with-products#tag/labels/paths/~1content~1v2~1tags/get) продавца.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>Ярлыков</strong>:\n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- | --- |\n| Персональный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Сервисный | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый с секретом | 1 мин | 100 запросов | 600 мс | 5 запросов |\n| Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Ярлыки"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"nmID":{"description":"Артикул WB","type":"integer"},"tagsIDs":{"description":"Массив числовых ID ярлыков.<br>\nЧто бы снять ярлыки с карточки товара, необходимо передать пустой массив.<br>\nЧтобы добавить ярлыки к уже имеющимся в карточке товара, необходимо в запросе передать новые ярлыки и ярлыки, которые уже есть в карточке товара.\n","type":"array","items":{"type":"integer","description":"Числовой ID ярлыка."}}}},"example":{"nmID":179891389,"tagsIDs":[123456]}}}},"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseContentError"}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseContentError"},"examples":{"IncorrectRequestNm":{"$ref":"#/components/examples/02_items__IncorrectRequestNm"}}}}},"401":{"$ref":"#/components/responses/02_items__401"},"402":{"$ref":"#/components/responses/02_items__402"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/get/cards/list":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"post":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"tags":["Карточки товаров"],"summary":"Список карточек товаров","description":"Метод возвращает список созданных карточек товаров.\n\n<div class=\"description_important\">\n  В ответе метода не будет карточек, находящихся в корзине. Получить такие карточки можно через <a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1trash/post\">отдельный метод</a>\n</div>\n\nЧтобы получить **больше 100** карточек товаров, используйте пагинацию:\n  1. Сделайте первый запрос: <br>\n      <pre style=\"background-color: rgb(38 50 56 / 5%); color: #e53935\">\n        {\n          \"settings\": {\n            \"sort\": {\n              \"ascending\": true\n            },\n            \"cursor\": {\n              \"limit\": 100\n            },\n            \"filter\": {\n              \"withPhoto\": -1\n            }\n          }\n        }</pre>\n     Чтобы после выгрузки получать только новые или обновлённые карточки товаров, используйте сортировку по возрастанию: `\"sort\":{\"ascending\":true}`.\n  2. Скопируйте `\"updatedAt\":\"***\",\"nmID\":\"***\"` из `cursor` ответа и вставьте в `cursor` запроса.\n  3. Повторите запрос.\n  4. Повторяйте пункты 2 и 3, пока значение `total` в ответе не станет меньше, чем значение `limit` в запросе. Это будет означать, что вы получили все карточки.\n\nЧтобы получать только карточки товаров, которые были созданы или обновлены после предыдущей выгрузки данных:\n  1. Сохраните поля `\"cursor\":{\"updatedAt\":\"***\",\"nmID\":\"***\"}` из последнего ответа предыдущей выгрузки. При выгрузке используйте сортировку по возрастанию: `\"sort\":{\"ascending\":true}`.\n  2. Укажите в первом запросе сохранённые поля `\"cursor\":{\"updatedAt\":\"***\",\"nmID\":\"***\"}`. Продолжайте использовать сортировку по возрастанию.\n  3. Сохраните поля `\"cursor\":{\"updatedAt\":\"***\",\"nmID\":\"***\"}` из последнего ответа текущей выгрузки.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 100 запросов | 600 мс | 5 запросов |\n</div>\n","parameters":[{"name":"locale","in":"query","schema":{"type":"string","example":"ru"},"description":"Язык полей ответа `name`, `value` и `object`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице. Данные песочницы возвращаются только на русском языке\n"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"settings":{"type":"object","description":"Настройки","properties":{"sort":{"description":"Параметр сортировки","type":"object","properties":{"ascending":{"type":"boolean","default":false,"description":"Сортировать по полю `updatedAt`:\n  - `false` — по убыванию\n  -  `true` — по возрастанию\n"}}},"filter":{"description":"Параметры фильтрации","type":"object","properties":{"withPhoto":{"type":"integer","enum":[-1,0,1,2],"description":"Фильтр по фото:\n  * `-1` — любые карточки товаров\n  * `0` — только карточки без фото. С [16 июня](/release-notes?id=531) — любые карточки товаров\n  * `1` — только карточки с фото\n  * `2` — только карточки без фото. С [16 июня](/release-notes?id=531)\n","default":0},"textSearch":{"type":"string","description":"Поиск по артикулу продавца, артикулу WB, баркоду"},"tagIDs":{"type":"array","description":"Поиск по ID ярлыков","items":{"type":"integer"}},"allowedCategoriesOnly":{"description":"Фильтр по категории:\n  - `true` — только разрешённые\n  - `false` — все\n\n  Не используется в песочнице\n","type":"boolean"},"objectIDs":{"type":"array","description":"Поиск по ID предметов","items":{"type":"integer"}},"brands":{"type":"array","description":"Поиск по брендам","items":{"type":"string"}},"imtID":{"description":"Поиск по [ID для объединённых карточек товаров](/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov)","type":"integer","format":"int64"}}},"cursor":{"description":"Курсор\n","type":"object","properties":{"limit":{"type":"integer","maximum":100,"default":10,"description":"Сколько карточек товаров выдать в ответе"},"updatedAt":{"type":"string","nullable":true,"description":"Дата и время изменения"},"nmID":{"type":"integer","description":"Артикул WB, с которого надо запрашивать следующий список карточек товаров"}}}}}}},"example":{"settings":{"sort":{"ascending":false},"filter":{"textSearch":"4603743187500888","allowedCategoriesOnly":true,"tagIDs":[345,415],"objectIDs":[235,67],"brands":["уллу","EkkE"],"imtID":328632,"withPhoto":0},"cursor":{"updatedAt":"2023-12-06T11:17:00.96577Z","nmID":370870300,"limit":11}}}}}},"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"type":"object","properties":{"cards":{"type":"array","description":"Список карточек товаров","items":{"type":"object","properties":{"nmID":{"type":"integer","description":"Артикул WB"},"imtID":{"type":"integer","description":"ID для [объединённых](/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров.<br>Един для всех артикулов WB группы объединённых карточек.<br>У каждой карточки товара есть `imtID`, даже если она не объединена с другими карточками<br>","format":"int64"},"nmUUID":{"type":"string","format":"UUID","description":"Внутренний технический ID карточки товара"},"subjectID":{"type":"integer","description":"ID предмета"},"subjectName":{"type":"string","description":"Название предмета"},"vendorCode":{"type":"string","description":"Артикул продавца"},"brand":{"type":"string","description":"Бренд"},"title":{"type":"string","description":"Наименование товара"},"description":{"type":"string","description":"Описание товара"},"needKiz":{"description":"Требуется ли код маркировки [Честного знака](https://честныйзнак.рф/) для этого товара:\n  - `false` — не требуется\n  - `true` — требуется\n","type":"boolean"},"kizMarked":{"type":"boolean","default":false,"nullable":false,"description":"Есть ли подтверждение от продавца, что обязательный код маркировки [Честного знака](https://честныйзнак.рф/) нанесён на товар:\n  - `true` — да\n  - `false` — нет\n\nЯвляется ли код маркировки [Честного знака](https://честныйзнак.рф/) обязательным, указано в поле `needKiz`\n"},"photos":{"type":"array","description":"Массив фото","items":{"type":"object","properties":{"big":{"description":"URL фото `900x1200`","type":"string"},"c246x328":{"description":"URL фото `248x328`","type":"string"},"c516x688":{"description":"URL фото `516x688`","type":"string"},"square":{"description":"URL фото `600x600`","type":"string"},"tm":{"description":"URL фото `75x100`","type":"string"}}}},"video":{"type":"string","description":"URL видео"},"wholesale":{"type":"object","description":"Оптовая продажа","properties":{"enabled":{"type":"boolean","description":"Предназначена ли карточка товара для оптовой продажи"},"quantum":{"type":"number","format":"uint64","description":"Количество единиц товара в упаковке"}}},"dimensions":{"description":"Габариты и вес товара c упаковкой, см и кг","type":"object","properties":{"length":{"type":"integer","description":"Длина, см"},"width":{"type":"integer","description":"Ширина, см"},"height":{"type":"integer","description":"Высота, см"},"weightBrutto":{"type":"number","description":"Вес, кг<br>Количество знаков после запятой <=3"},"isValid":{"type":"boolean","description":"Потенциальная некорректность габаритов товара:\n\n- `true` — не выявлена. `\"isValid\":true` не гарантирует, что размеры указаны корректно. В отдельных случаях (например, при создании новой категории товаров) `\"isValid\":true` будет возвращаться при любых значениях, кроме нулевых.\n\n- `false` — указанные габариты значительно отличаются от средних по категории (предмету). Рекомендуется перепроверить, правильно ли указаны размеры товара в упаковке в `сантиметрах`. Функциональность карточки товара, в том числе начисление логистики и хранения, при этом ограничена не будет. Логистика и хранение продолжают начисляться — по текущим габаритам. Также `\"isValid\":false` возвращается при отсутствии значений или нулевом значении любой стороны.\n"}}},"characteristics":{"type":"array","description":"Характеристики","items":{"type":"object","properties":{"id":{"type":"integer","description":"ID характеристики"},"name":{"type":"string","description":"Название характеристики"},"value":{"description":"Значение характеристики. Тип значения зависит от типа характеристики"}}}},"sizes":{"type":"array","description":"Размеры товара","items":{"type":"object","properties":{"chrtID":{"type":"integer","format":"int64","description":"Числовой ID размера для данного артикула WB"},"techSize":{"type":"string","description":"Размер товара (А, XXL, 57 и др.)"},"wbSize":{"type":"string","description":"Российский размер товара"},"skus":{"type":"array","description":"Баркод товара","items":{"type":"string","example":"12345Ejf5"}}}}},"tags":{"description":"Ярлыки","type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"ID ярлыка"},"name":{"type":"string","description":"Название ярлыка"},"color":{"type":"string","description":"Цвет ярлыка. <br>\nДоступные цвета:\n- `D1CFD7` — серый\n- `FEE0E0` — красный\n- `ECDAFF` — фиолетовый\n- `E4EAFF` — синий\n- `DEF1DD` — зеленый\n- `FFECC7` — желтый\n"}}}},"createdAt":{"type":"string","description":"Дата и время создания"},"updatedAt":{"type":"string","description":"Дата и время изменения"}}}},"cursor":{"type":"object","description":"Пагинатор","properties":{"updatedAt":{"type":"string","description":"Дата и время, с которых надо запрашивать следующий список карточек товаров"},"nmID":{"type":"integer","description":"Артикул WB, с которого надо запрашивать следующий список карточек товаров"},"total":{"type":"integer","description":"Количество возвращённых карточек товаров"}}}}},"example":{"cards":[{"nmID":12345678,"imtID":123654789,"nmUUID":"01bda0b1-5c0b-736c-b2be-d0a6543e9be","subjectID":7771,"subjectName":"AKF системы","vendorCode":"wb7f6mumjr1","kizMarked":true,"brand":"Тест","title":"Тест-система","description":"Тестовое описание","needKiz":false,"photos":[{"big":"https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp","c246x328":"https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp","c516x688":"https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp","square":"https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp","tm":"https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp"}],"video":"https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8","wholesale":{"enabled":true,"quantum":112},"dimensions":{"length":55,"width":40,"height":15,"weightBrutto":6.24,"isValid":false},"characteristics":[{"id":14177449,"name":"Цвет","value":["красно-сиреневый"]}],"sizes":[{"chrtID":316399238,"techSize":"0","skus":["987456321654"]}],"tags":[{"id":592569,"name":"Популярный","color":"D1CFD7"}],"createdAt":"2023-12-06T11:17:00.96577Z","updatedAt":"2023-12-06T11:17:00.96577Z"}],"cursor":{"updatedAt":"2023-12-06T11:17:00.96577Z","nmID":123654123,"total":1}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}},"plain/text":{"example":"Request body can not be decoded"}}},"401":{"$ref":"#/components/responses/02_items__401"},"402":{"$ref":"#/components/responses/02_items__402"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/cards/error/list":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"post":{"x-readonly-method":true,"x-category":"content","security":[{"HeaderApiKey":[]}],"summary":"Список несозданных карточек товаров с ошибками","description":"Метод возвращает список карточек товаров ([черновиков](https://seller.wildberries.ru/new-goods/error-cards)), при создании или редактировании которых произошли ошибки, с описанием этих ошибок.\n<br><br>\nДанные в ответе возвращаются пакетами `batch`. Один пакет содержит:\n  - все ошибки по одному массиву `variants` одного запроса при [создании](/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post) карточек товаров\n  - все ошибки одного запроса при [создании с присоединением](/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post) или [редактировании](/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post) карточек товаров\n<br><br>\nЧтобы получить более 100 пакетов, используйте пагинацию:\n  1. Сделайте первый запрос: <br>\n      <pre style=\"background-color: rgb(38 50 56 / 5%); color: #e53935\">\n        {\n          \"cursor\": {\n            \"limit\": 100\n          },\n          \"order\": {\n            \"ascending\": true\n          }\n        }</pre>\n  2. Скопируйте `\"updatedAt\":\"***\",\"batchUUID\":\"***\" `из `cursor` ответа и вставьте в `cursor` запроса.\n  3. Повторите запрос.\n  4. Повторяйте пункты 2 и 3, пока не получите в ответе `\"next\":false`. Это будет означать, что вы получили все пакеты.\n\n<div class=\"description_important\">\n  Чтобы удалить карточку товара из списка, сделайте ещё один запрос на создание, создание с присоединением или редактирование карточки товара с исправленными ошибками\n</div>\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для методов:\n\n<ul>\n    <li><a href=\"/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1limits/get\">получения лимитов карточек товаров</a></li>\n    <li><a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1error~1list/post\">получения несозданных карточек товаров с ошибками</a></li>\n</ul>\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 10 запросов | 6 сек | 5 запросов |\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Контента</strong>.\n\n</div>\n","tags":["Карточки товаров"],"parameters":[{"name":"locale","in":"query","schema":{"type":"string","example":"en"},"description":"Язык названий предметов:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе используется в песочнице\n"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__requestPublicViewerPublicErrorsTableListV2"},"example":{"cursor":{"limit":31,"updatedAt":"2025-08-05T17:54:40+08:00","batchUUID":"bca3744c-1c8b-4588-b345-62af3b2899ae"},"order":{"ascending":true}}}}},"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responsePublicViewerPublicErrorsTableListV2"},"example":{"data":{"items":[{"batchUUID":"b15fecaf-57fd-4b63-ab6f-18d630b8793e","subjects":{"wb15j2kjk9":{"id":8827,"name":"Автомобили с пробегом"},"wb3g6advyh":{"id":8827,"name":"Автомобили с пробегом"},"wb3g7xx8g9":{"id":8827,"name":"Автомобили с пробегом"},"wb4uphjn61":{"id":8827,"name":"Автомобили с пробегом"},"wb64nayozt":{"id":8827,"name":"Автомобили с пробегом"}},"brands":{},"vendorCodes":["wb64nayozt","wb15j2kjk9","wb3g7xx8g9","wb3g6advyh","wb4uphjn61"],"errors":{"wb15j2kjk9":["Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨"],"wb3g6advyh":["Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈"],"wb3g7xx8g9":["Поле Наименование не должно содержать запрещенные символы: 🤯"],"wb4uphjn61":["Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈"],"wb64nayozt":["Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨"]},"updatedAt":"2025-12-19T23:59:59Z"},{"batchUUID":"30aa42ec-fb49-45ec-86d5-ddf9911e7e3f","subjects":{"test_pasha1":{"id":184,"name":"Рубашки"}},"brands":{},"vendorCodes":["test_pasha1"],"errors":{"test_pasha1":["Запрещено использовать E-Mail в поле Наименование","Запрещено использовать E-Mail в поле Описание"]},"updatedAt":"2025-12-20T23:59:59Z"}],"cursor":{"next":true,"updatedAt":"2025-12-20T23:59:59Z","batchUUID":"1cd79751-de1f-46c8-a444-a941d35dde56"}},"error":false,"errorText":"","additionalErrors":null}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"}}}},"401":{"$ref":"#/components/responses/02_items__401"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/cards/update":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"post":{"x-readonly-method":false,"x-category":"content","tags":["Карточки товаров"],"summary":"Редактирование карточек товаров","description":"Метод обновляет данные карточек товаров. Также используйте его, чтобы добавлять новые размеры.\n\n<div class=\"description_important\">\n  Карточка товара перезаписывается при обновлении. Поэтому в запросе нужно передать в том числе те параметры карточки, которые вы не собираетесь обновлять. Их значения можно получить в <a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1list/post\">списке карточек товаров</a> и <a href=\"/openapi/work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1trash/post\">списке карточек товаров в корзине</a>.\n</div>\n\nС помощью этого метода нельзя обновлять или удалять:\n  - баркоды размеров товара. Можно только добавить дополнительные баркоды\n  - параметры `photos`, `video` и `tags`\n  - цены товаров. Цену можно задать, только если вы добавляете новые размеры\n\nПри добавлении нового размера укажите его цену через параметр `price`. Если в запросе не указан `price`, цена размера будет `0` — в этом случае изменить её можно будет с помощью методов:\n  - [Установить цены и скидки](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1upload~1task/post), если у [товара](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1list~1goods~1filter/get) `\"editablePriceSize\":false`\n  - [Установить цены для размеров](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1upload~1task~1size/post), если у [товара](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1list~1goods~1filter/get) `\"editablePriceSize\":true`\n\nГабариты товаров можно указать только в `сантиметрах`, вес товара с упаковкой — в `килограммах`.\n<br><br>\nОдним запросом можно отредактировать максимум 3000 карточек товаров (`nmID`). Максимальный размер запроса 10 Мб.<br>\nЕсли ответ `Успешно` (`200`), но какие-то карточки не обновились, проверьте [список несозданных карточек товаров](/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1error~1list/post).<br>\nСинхронизация данных с сервисами может занимать до 30 минут. В течение этого времени невозможно добавить остатки на склады и настроить цены. <br>\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 10 запросов | 6 сек | 5 запросов |\n</div>\n","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["nmID","vendorCode","sizes"],"minimum":1,"maximum":3000,"properties":{"nmID":{"type":"integer","description":"Артикул WB"},"vendorCode":{"type":"string","description":"Артикул продавца"},"kizMarked":{"type":"boolean","default":false,"description":"Подтверждение, что на товар нанесён обязательный код маркировки [Честного знака](https://честныйзнак.рф/):\n  - `true` — продавец подтверждает, что на товар нанесён обязательный код маркировки.\n  - `false` — продавец подтверждает, что на товар нанесён обязательный код маркировки. Передайте в запросе `true`, чтобы подтвердить наличие на товаре обязательного кода маркировки. Карточка товара не пройдёт модерацию, если нет подтверждения продавца о том, что обязательный код маркировки нанесён на товар.\n\nЧтобы проверить, является ли код маркировки [Честного знака](https://честныйзнак.рф/) обязательным, используйте метод [Список карточек товаров](./work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1list/post), поле ответа `needKiz`\n"},"brand":{"type":"string","description":"Бренд"},"title":{"type":"string","description":"Наименование товара","maxLength":60},"description":{"type":"string","description":"Описание товара.<br>\nМаксимальное количество символов зависит от категории товара<br>\nСтандарт — 2000, минимум — 1000, максимум — 5000<br>\nПодробно о **правилах заполнения карточки товара** в [Справочном центре](https://seller.wildberries.ru/instructions/ru/ru/material/how-to-create-card) на портале продавцов\n"},"dimensions":{"description":"Габариты и вес товара **c упаковкой**.<br>\nУкажите в `сантиметрах` и `килограммах` для любого товара.<br>\nСинхронизация новых данных с сервисом может занимать до 30 минут\n","type":"object","properties":{"length":{"type":"integer","description":"Длина, см"},"width":{"type":"integer","description":"Ширина, см"},"height":{"type":"integer","description":"Высота, см"},"weightBrutto":{"type":"number","description":"Вес, кг<br>Количество знаков после запятой <=3"}}},"characteristics":{"type":"array","description":"Характеристики товара.\n<br>\nМожно получить методом [Характеристики предмета](./work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get)\n","items":{"type":"object","required":["id","value"],"properties":{"id":{"type":"integer","description":"ID характеристики"},"value":{"description":"Значения характеристики.\n<br>\nТип данных — массив строк или число — зависит от типа характеристики, см. описание поля `charcType` в методе [Характеристики предмета](./work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get).\n<br>\nДопустимое количество значений отображено в поле `maxCount` того же метода\n"}}}},"sizes":{"type":"array","description":"Массив размеров<br>\nДля безразмерного товара всё равно нужно передавать данный массив без параметров (wbSize и techSize), но с баркодом\n","items":{"type":"object","properties":{"chrtID":{"type":"integer","description":"ID размера для данного артикула WB<br>\nОбязателен к заполнению для существующих размеров<br>\nДля добавляемых размеров не указывается\n"},"techSize":{"type":"string","description":"Размер товара (например, XL, S, 45)"},"wbSize":{"type":"string","description":"Российский размер товара"},"price":{"type":"integer","description":"Цена товара, ₽<br>\nУказывается при добавлении размера\n"},"skus":{"type":"array","items":{"type":"string"},"description":"Баркоды"}}}}}},"example":[{"nmID":11111111,"vendorCode":"wbiz72wmro","kizMarked":true,"brand":"","title":"Свитер женский оверсайз с горлом","description":"12345","dimensions":{"length":35,"width":40,"height":15,"weightBrutto":3},"characteristics":[{"id":14177450,"value":["хлопок 50% акрил 50%"]},{"id":50,"value":["свободный крой"]}],"sizes":[{"chrtID":12345678,"techSize":"ONE SIZE","wbSize":"78-90","skus":["123487653460134"]}]}]}}}},"responses":{"200":{"description":"Успешно","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseItemList"},"example":{"data":null,"error":false,"errorText":"","additionalErrors":{}}}}},"400":{"description":"Неправильный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError400"},"examples":{"MissingRequiredCharacteristics":{"$ref":"#/components/examples/02_items__MissingRequiredCharacteristics"},"NonUniqueCharacteristicsInOneGroupAdd":{"$ref":"#/components/examples/02_items__NonUniqueCharacteristicsInOneGroupAdd"}}}}},"401":{"$ref":"#/components/responses/02_items__401"},"402":{"$ref":"#/components/responses/02_items__402"},"403":{"description":"Доступ запрещён","content":{"application/json":{"schema":{"$ref":"#/components/schemas/02_items__responseBodyContentError403"}}}},"413":{"description":"Превышен лимит объёма данных в запросе","content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","description":"Заголовок ошибки"},"detail":{"type":"string","description":"Детали ошибки"},"code":{"type":"string","description":"Внутренний код ошибки"},"requestId":{"type":"string","description":"Уникальный ID запроса"},"origin":{"type":"string","description":"ID внутреннего сервиса WB"},"status":{"type":"number","description":"HTTP статус-код"},"statusText":{"type":"string","description":"Расшифровка HTTP статус-кода"}}},"example":{"title":"request body too long","detail":"https://openapi.wildberries.ru/content/api/ru/","code":"71d3de1b-001e-488f-bbf5-55c31254fbeb","requestId":"MN8usr6RfrzWHZfucSvNgb","origin":"s2s-api-auth-content","status":413,"statusText":"Request Entity Too Large"}}}},"429":{"$ref":"#/components/responses/02_items__429"}}}},"/content/v2/cards/moveNm":{"servers":[{"url":"https://content-api.wildberries.ru","description":"**Prod**\n"},{"url":"https://content-api-sandbox.wildberries.ru","description":"**Sandbox**\n"}],"post":{"x-readonly-method":false,"x-category":"content","tags":["Карточки товаров"],"summary":"Объединение и разъединение карточек товаров","description":"Метод [объединяет и разъединяет](/knowledge-base/articles/019d49a4-1320-71bb-9dac-8ba07e7177ce/rabota-s-tovarami#obuedinenie-i-razuedinenie-kartochek-tovarov) карточки товаров. Карточки товаров являются объединёнными, если у них одинаковый `imtID`.\n<br><br>\nДля объединения карточек товаров сделайте запрос **с указанием** `imtID`. Можно объединять не более 30 карточек товаров.<br>\nДля разъединения карточек товаров сделайте запрос **без указания** `imtID`. Для разъединенных карточек будут сгенерированы новые `imtID`.\n<br><br>\nЕсли вы разъедините одновременно несколько карточек товаров, эти карточки объединят
[...]
